<h1>Create Account:</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Username" %><br><br>
  <%= f.text_field :email, placeholder: "Email" %><br><br>
  <%= f.password_field :password, placeholder: "Password" %><br><br>
  <%= f.submit value: "Create a new user" %>
<% end %>
