<%= form_for(@fooditem, html: { class: "form-horizontal"}) do |f| %>
  <% if @fooditem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fooditem.errors.count, "error") %> prohibited this fooditem from being saved:</h2>

      <ul>
      <% @fooditem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style='color:white'>
  <div class="field">
    <%= f.label :Food_Item %><br>
    <div style='color:black'><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <%= f.label :calories %><br>
    <div style='color:black'><%= f.number_field :calories %></div>
  </div>
  <div class="field">
    <%= f.label :sugar %><br>
    <div style='color:black'><%= f.number_field :sugar, :step => 0.1, :placeholder => "in grams" %></div>
  </div>
  <div class="field">
    <%= f.label :sodium %><br>
    <div style='color:black'><%= f.number_field :sodium, :step => 0.1, :placeholder => "in milligrams" %></div>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <div style='color:black'><%= f.number_field :protein, :step => 0.1, :placeholder => "in grams" %></div>
  </div>
  <div class="field">
    <%= f.label :consumed_date %><br>
    <div style='color:black'><%= f.date_field :consumed_date, id: 'datepicker' %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
