<h1>Listing Food Items</h1>

<p>
  <strong>Name:</strong>
  <%= @fooditem.name %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @fooditem.calories %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @fooditem.sugar %> grams
</p>

<p>
  <strong>Sodium:</strong>
  <%= @fooditem.sodium %> mg
</p>

<p>
  <strong>Protein:</strong>
  <%= @fooditem.protein %> g
</p>
