<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title>NutritionApp</title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><button type="button" class="btn btn-default btn-sm" id="glyph">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </button></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li><%= link_to "Food Item Index", food_items_path %></li>
            <li><%= link_to "Add Food", new_food_item_path %> <span class="sr-only">(current)</span></a></li>
          <% else %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to 'Sign Up!', users_new_path %></li>
            <li><%= link_to 'Log In', login_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<%= yield %>
<h4 class="footer">Copyright 1988-2015 NutriStore, Inc.</h4>

</body>
</html>
